@charset "utf-8";


/* 모바일 */
@media screen and (max-width:639px){
{display:none;}

.contents .cont1 ul li{width:100%;margin-bottom:20px;}
.contents .cont1 ul li:last-child{margin-bottom:0px;}


}


/*  태블릿  */
@media screen and (min-width:640px) and (max-width:1024px){
.visual_m{display:none;}


.contents .cont1 ul li{width:49.47916666666667%;}
.contents .cont1 ul li:first-child{margin-right:1.041666666666667%;}
}

/*  PC  */
@media all and (min-width:1024px){
{display:none;}

.contents .cont1 ul li{width:49.47916666666667%;}
.contents .cont1 ul li:first-child{margin-right:1.041666666666667%;}
}




