@charset "utf-8";

/*base*/
body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}    
body{font:normal 12px "맑은고딕", "Malgun Gothic", serif;}
ul{list-style: none;}
img{border:0;vertical-align: top;}
a{text-decoration: none;} 

#wrap{width:100%;overflow: hidden;}

/*bestseller*/